* {
    padding: 0;
    margin: 0;
}

/* header */

.mylogo {
    float: left;
}

.search-bar {
    height: 40px;
    width: 300px;
    padding: 5px 5px;
    outline: none;
}

.menu-element {
    cursor: pointer;
}

.element {
    cursor: pointer;
}

.card-btn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    color: darkblue;
}

.element:hover {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00008B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
    padding: 12px 16px color: "white";
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    padding: 5px 10px;
}

.Offers {
    float: right;
    right: 0;
}

h2 {
    text-align: center;
    padding: 10px 0px;
    background-color: yellow;
    color: black;
}

.product-img {
    padding: 30px 0px;
}